version: 2.1
orbs:
  slack: circleci/slack@3.4.2

jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester
    steps:
      - checkout
      - run:
          name: 'Setup virtual env'
          command: |
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox dev_env.sh
            python3 -mvenv /usr/local/share/virtualenvs/tap-google-analytics
            source /usr/local/share/virtualenvs/tap-google-analytics/bin/activate
            pip install .[test]
      - run:
          name: 'pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-google-analytics/bin/activate
            source dev_env.sh
            echo "skipping $PYLINT_DISABLE_LIST"
            pylint tap_google_analytics --disable "$PYLINT_DISABLE_LIST"
      - run:
          name: 'Unit Tests'
          command: |
            source /usr/local/share/virtualenvs/tap-google-analytics/bin/activate
            pip install nose coverage
            nosetests --with-coverage --cover-erase --cover-package=tap_google_analytics --cover-html-dir=htmlcov tests/unittests
            coverage html
      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: htmlcov
      - run:
          name: 'Integration Tests'
          command: |
            source dev_env.sh
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            run-test --tap=tap-google-analytics tests
      - slack/notify-on-failure:
          only_for_branches: master

workflows:
  version: 2
  commit: &commit_jobs
    jobs:
      - build:
          context:
            - circleci-user
            - tier-1-tap-user
  build_daily:
    <<: *commit_jobs
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters:
            branches:
              only:
                - master
